################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/ScryfallExtractor.Core/obj
/src/ScryfallExtractor.Service/obj
